/* nav {
    background-color: #00a19d;
    padding: 1.25rem 2rem;
}

.nav-center {
    max-width: var(--fixed-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h3 {
    margin-bottom: 0;
    color: #ffffff;
}

.nav-container {
    display: block;
    position: relative;
}

.amount-container {
    position: absolute;
    top: -0.85rem;
    right: -0.85rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #1e3163;
    display: flex;
    justify-content: center;
    align-items: center;
} */
